extends ../layouts/main.pug 
include ../partials/_pageHeader.pug
include ../partials/_tableHeaderItem.pug
include ../partials/_tableCellItem.pug


block content 
  .page-wrapper
    // 2) MAIN CCONTENT
    .wrapper.bg-slate-100
      .grid.grid-cols-1.gap-4.py-5.px-4.mx-auto(class='md:px-0 md:grid-cols-4 lg:mx-20')
        // 2) MAIN CONTENT
        main#my-articles.col-span-1.order-2(class='md:col-span-3')
          //- RESULT INFO
          //- p #{message || ''}
          //- p #{success ? `Success: ${success}` : ''}
          //- p #{failed ? `Failed: ${failed}` : ''}
          //- p #{details ? `Failed rows: ${details}` : ''}
          //- p #{error || ''}
          table.w-full.table-auto.border-collapse.border.border-darkCyan.my-4
            caption.text-sm
              | XML Data Import
            thead.text-sm.text-white.bg-darkCyan
              tr
                +tableHeaderItem('Table Name')
                +tableHeaderItem('Action')
            tbody
              tr
                +tableCellItem('table_name', 'Classes Table')            
                td.grid.grid-cols-2(class='before:content-[attr(data-cell)] before:uppercase before:font-semibold md:text-center md:table-cell md:before:content-none' data-cell='form_action') 
                  form#form-classXmlImport(method="POST" enctype='multipart/form-data' action='/auth/admin/data-import/classxml') 
                    input#classXmlFile(type='file' name='classXmlFile' accept='.xml')
                    button#classXmlFileSubmitBtn.btn.btn-limeGreen.btn-sm(type='submit') Submit   
              tr
                +tableCellItem('table_name', 'Timetables Table')            
                td.grid.grid-cols-2(class='before:content-[attr(data-cell)] before:uppercase before:font-semibold md:text-center md:table-cell md:before:content-none' data-cell='form_action')
                  
                  form#form-timetableXmlImport(method="POST" enctype='multipart/form-data' action='/auth/admin/data-import/timetablexml') 
                    input#timetableXmlFile(type='file' name='timetableXmlFile' accept='.xml')
                    button#timetableXmlFileSubmitBtn.btn.btn-limeGreen.btn-sm(type='submit') Submit   

        // 3) SIDE MENU
        include ../partials/_accountSideNav.pug
