extends ../layouts/main.pug 

block content 
  .page-wrapper
    // 1) HEADER
    header.bg-darkCyan.text-white
      .container.mx-auto.px-4.pt-3(class='md:px-0 md:py-4')
        h1 My Profile
    // 2) MAIN CCONTENT
    .wrapper.bg-slate-100
      .max-w-screen-xl.grid.grid-cols-1.gap-4.py-5.px-4.mx-auto(class='md:px-0 md:grid-cols-4 lg:mx-20')
        // 2) MAIN CONTENT
        main#my-profile.col-span-1.order-2(class='md:col-span-3')
          // my profile form
          form#form-profile.grid.grid-cols-1.py-4.gap-y-4(class='md:grid-cols-6 md:gap-4')
            .space-y-1.col-span-1(class='md:col-span-3')
              label.block.text-sm.font-semibold.text-darkCyan(for='firstname')
                | First
                | Name
              .relative.flex.items-center
                svg.size-6.absolute.left-3.text-gray-500
                  use(xlink:href='/icons/sprites/solid.svg#f' fill='currentColor')
                input#firstname.pl-11(type='text' name='firstname' placeholder='John' required='' value=user.firstName)
            .space-y-1.col-span-1(class='md:col-span-3')
              label.block.text-sm.font-semibold.text-darkCyan(for='surname')
                | Last
                | Name
              .relative.flex.items-center
                svg.size-6.absolute.left-3.text-gray-500
                  use(xlink:href='/icons/sprites/solid.svg#l' fill='currentColor')
                input#surname.pl-11(type='text' name='surname' placeholder='Doe' required='' value=user.lastName)
            .space-y-1.col-span-1(class='md:col-span-3')
              label.block.text-sm.font-semibold.text-darkCyan(for='mobilenumber')
                | Mobile
                | Number
              .relative.flex.items-center
                svg.size-6.absolute.left-3.text-gray-500
                  use(xlink:href='/icons/sprites/solid.svg#mobile-screen' fill='currentColor')
                input#mobilenumber.pl-11(type='tel' name='mobilenumber' placeholder='0400123456' required='' value=user.lastName)
            .space-y-1.col-span-1(class='md:col-span-3')
              label.block.text-sm.font-semibold.text-darkCyan(for='email')
                | Email
                | Address
              .relative.flex.items-center
                svg.size-6.absolute.left-3.text-gray-500
                  use(xlink:href='/icons/sprites/regular.svg#envelope' fill='currentColor')
                input#email.pl-11(type='email' name='email' placeholder='name@example.com' required='' value=user.emailAddress)
            .space-y-1.col-span-1(class='md:col-span-6')
              label.block.text-sm.font-semibold.text-darkCyan(for='address') Address
              .relative.flex.items-center
                svg.size-6.absolute.left-3.text-gray-500
                  use(xlink:href='/icons/sprites/regular.svg#map' fill='currentColor')
                input#address.pl-11(type='text' name='address' placeholder='123 Main Road' value=user.address)
            .space-y-1.col-span-1(class='md:col-span-2')
              label.block.text-sm.font-semibold.text-darkCyan(for='suburb') Suburb
              .relative.flex.items-center
                svg.size-6.absolute.left-3.text-gray-500
                  use(xlink:href='/icons/sprites/solid.svg#city' fill='currentColor')
                input#suburb.pl-11(type='text' name='suburb' value=user.suburb)
            .space-y-1.col-span-1(class='md:col-span-2')
              label.block.text-sm.font-semibold.text-darkCyan(for='postcode') Postcode
              .relative.flex.items-center
                svg.size-6.absolute.left-3.text-gray-500
                  use(xlink:href='/icons/sprites/regular.svg#file-zipper' fill='currentColor')
                input#postcode.pl-11(type='text' name='postcode' value=user.postcode)
            .space-y-1.col-span-1(class='md:col-span-2')
              label.block.text-sm.font-semibold.text-darkCyan(for='state') State
              .relative.flex.items-center
                svg.size-6.absolute.left-3.text-gray-500
                  use(xlink:href='/icons/sprites/solid.svg#earth-oceania' fill='currentColor')
                select#state.text-center(name='state')
                  option(value='ACT') ACT
                  option(value='QLD' selected='')
                    | QLD
                  option(value='NSW') NSW
                  option(value='NT') NT
                  option(value='SA') SA
                  option(value='TAS') TAS
                  option(value='VIC') VIC
                  option(value='WA') WA
            .space-y-1.col-span-1(class='md:col-span-6')
              label.block.text-sm.font-semibold.text-darkCyan(for='bio') Bio
              .relative.flex.items-center
                svg.size-6.absolute.text-gray-500.left-3.top-3
                  use(xlink:href='/icons/sprites/regular.svg#sun' fill='currentColor')
                textarea#bio.pl-11(name='bio' placeholder='Short intro about yourself...')
                  | #{user.bio}
            .space-y-1.col-span-1(class='md:col-span-6')
              label.block.text-sm.font-semibold.text-darkCyan(for='avatar') Avatar
              .relative.flex.items-center
                input#avatar(type='file' name='avatar')
                img.size-16.rounded-full(src=`/images/users/${user.avatar}` alt=user.firstName)  
            .space-y-1.col-span-1(class='md:col-span-3')
              a.btn-bullet.btn-gray.my-5.space-x-1.w-full(href='/dashboard') Back
            .space-y-1.col-span-1(class='md:col-span-3')
              button.btn-bullet.btn-limeGreen.my-5.space-x-1.w-full(type='submit')
                span Save
        // 3) SIDE MENU
        include ../partials/_accountSideNav.pug
