mixin sideNavItem(name, role, slug, active)
  li(data-active=`${active}`)
    a.block.p-4.capitalize(href=`/auth/${role}/${slug}` class=`${active === true ? 'bg-limeGreen' : 'hover:bg-limeGreen hover:underline'}`)
      | #{name}

nav.order-1
  ul#account-menu-list.text-midnightBlue.flex.flex-col.font-semibold
    +sideNavItem('my dashboard', 'account', 'my-dashboard', true)
    if user.userRole === 'admin'
      +sideNavItem('classes', 'admin', 'manage-classes', false)
      +sideNavItem('timetable', 'admin', 'manage-timetable', false)
      +sideNavItem('users', 'admin', 'manage-users', false)
      +sideNavItem('bookings', 'account', 'manage-bookings', false)
      +sideNavItem('articles', 'account', 'manage-articles', false)
      +sideNavItem('comments', 'account', 'manage-comments', false)
      +sideNavItem('data import', 'admin', 'data-import', false)
    else 
      +sideNavItem('my bookings', 'account', 'manage-bookings', false)
      +sideNavItem('my articles', 'account', 'manage-articles', false)
      +sideNavItem('my comments', 'account', 'manage-comments', false)
    +sideNavItem('my profile', 'account', 'my-profile', false)
    +sideNavItem('change password', 'account', 'change-password', false)
    //- +sideNavItem('logout', 'account', 'logout', false)
    li(data-active=false)
      a.block.p-4.capitalize(href=`/auth/logout` class='hover:bg-limeGreen hover:underline')
        | Logout

