mixin navItem(text, linkPath)
  li.group.nav-item
    a.px-3.py-2.leading-4.text-lemonGreen.capitalize(href=linkPath class='group-hover:text-limeGreen group-hover:underline group-hover:underline-offset-8 group-hover:decoration-limeGreen') #{text}
mixin navItemMobile(text, linkPath)
  li.group.nav-item
    a.px-3.py-2.leading-4.text-darkCyan.capitalize(href=linkPath class='group-hover:brightness-125 group-hover:underline group-hover:underline-offset-8 group-hover:decoration-darkCyan') #{text}

nav.sticky.top-0.z-30.flex.flex-wrap.items-center.justify-between.px-2.py-3.bg-darkCyan.shadow
  .container.mx-auto.flex.flex-wrap.items-center.justify-between
    // LEFT-SM: LOGO MIDDLE-LG: LOGO
    .w-full.relative.flex.justify-between.px-4.order-1(class='lg:order-2 lg:w-auto lg:static lg:block')
      a(href='/')
        img.h-14.w-auto.py-2(src='/logo/HighStreetGym-6-transparentWhite_1200x600.png' alt='logo')
      // right nav toggle on mobile
      button#navbarToggle.text-limeGreen.cursor-pointer(type='button' class='z-50 lg:hidden' aria-controls='mobile-mainnav' aria-expanded='false')
        span(class='sr-only') Menu
        svg#toggleOpen.size-9(class='hidden text-darkCyan hover:bg-limeGreen')
          use(xlink:href='/icons/sprites/solid.svg#xmark' fill='currentColor')
        svg#toggleClosed.size-9(class='block m-1 p-1 hover:bg-limeGreen hover:text-darkCyan')
          use(xlink:href='/icons/sprites/solid.svg#bars' fill='currentColor')
    // MIDDLE: MENU ITEMS
    .collapse-navbar.items-center.hidden.order-2(class='lg:order-1 lg:flex lg:flex-row')
      ul.font-medium.flex.flex-col.list-none(class='lg:order-1 lg:flex-row lg:ml-auto')
        +navItem('classes', '/classes')
        +navItem('timetable', '/timetable')
        +navItem('blog', '/blog')
    // RIGHT: LOGIN/SIGNUP
    .collapse-navbar.items-center.hidden.order-3(class='lg:flex lg:flex-row')
      ul.font-medium.flex.flex-col.items-center.list-none(class='lg:order-3 lg:flex-row lg:ml-auto lg:space-x-4')
        if user
          li.group.nav-item 
            a.btn.btn-limeGreen.text-darkCyan.btn-sm.space-x-1(href='/auth/account/articleForm/create')
              span Create Article 
              svg.size-6 
                use(xlink:href='/icons/sprites/regular.svg#pen-to-square' fill='currentColor')
          li.group.nav-item 
            a(href='/auth/account')
              img.size-10.rounded-full(src=`/images/users/${user.avatar ? user.avatar : 'default-avatar-10.png'}` alt='avatar')
        else
          +navItem('login', '/login')
          +navItem('signup', '/signup')
    #mobile-mainnav(class='fixed flex-col inset-y-0 right-0 left-1/3 z-40 h-screen py-6 px-3 bg-gray-300 transform transition-transform duration-300 translate-x-full lg:hidden')
      ul.flex.flex-col.items-center.space-y-4.mt-10
        +navItemMobile('classes', '/classes')
        +navItemMobile('timetable', '/timetable')
        +navItemMobile('blog', '/blog')
        if user
          li.group.nav-item 
            a.btn.btn-limeGreen.text-darkCyan.btn-sm.space-x-1(href='/auth/account/articleForm/create')
              span Create Article 
              svg.size-6 
                use(xlink:href='/icons/sprites/regular.svg#pen-to-square' fill='currentColor')
          +navItemMobile('My Account', '/auth/account')
          +navItemMobile('Logout', '/auth/logout')
        else
          +navItemMobile('login', '/login')
          +navItemMobile('signup', '/signup')
      
