extends layouts/main.pug
include partials/_fieldErrorMsg.pug

block content 
  .wrapper.overflow-hidden.bg-cover.bg-no-repeat.bg-center.bg-scroll(style=`background-image: linear-gradient(to bottom, var(--tw-gradient-from), var(--tw-gradient-to)), url('/images/blog/${article.imageCover}')` class='bg-gradient-to-b from-limeGreen')
    .container.mx-auto.bg-white.px-6.pb-10.my-6.mb-10.shadow-lg
      // 1) HEADER
      header.text-midnightBlue
        .container.mx-auto.px-4.pt-3.mb-4(class='md:px-0 md:py-4')
          // 0) BADGE
          small.text-xs.font-semibold.bg-orange-700.text-white.rounded-full.w-fit.px-3.py-1 #{article.topicName}
          h1 #{article.articleTitle}
          .flex.items-center.space-x-2.mr-auto
            img.size-8.rounded-full.object-cover(src=`/images/users/${article.avatar}` alt=`${article.firstName} ${article.lastName}` class='md:size-12')
            small.text-xs
              | #{article.firstName}
              | #{article.lastName}
            small.text-xs #{article.createdAt.toLocaleDateString('en-AU')}
        img.w-full.h-96.rounded-lg.shadow-lg.object-cover(src=`/images/blog/${article.imageCover}` alt=`${article.articleTitle}`)
      main#article-content
      p
        | !{article.articleContent}
  section#comments.bg-slate-100
    .container.mx-auto.py-6
      h2 Comments
      form#form-comment.mb-4(method='POST' action=`/auth/account/blog/${article.articleId}/commentForm/save` novalidate)
        input(type='hidden' name='articleId' value=`${article.articleId}`)
        textarea#commentInput(name='comment' placeholder='Write your comment here' required) #{inputData && inputData.comment || ''}
        +fieldErrorMsg('comment')
        button.btn-bullet.btn-limeGreen.btn-sm(type='submit') Submit
      section#member-comments.mb-6
        - for(let c of comments)
          article.flex.items-center.bg-white.border.px-4.py-2.space-x-3
            // left
            .flex.flex-col.justify-center.items-center
              img.size-14.rounded-full.border(src=`/images/users/${c.avatar}` alt=`${c.firstName} ${c.lastName}`)
            // right
            div
              p.my-0
                | #{c.comment}
              span.space-x-2
                small.px-2.py-1.rounded-full(class=`${c.userRole === 'member' ? 'bg-yellow-500' : 'bg-sky-500'}`) #{c.userRole}
                small
                  | #{c.firstName}
                  | #{c.lastName}
                time(datetime=`${c.createdAt.toLocaleString('en-AU', {hour12: false})}`)
                  small
                    | Posted At:
                    | #{c.createdAt.toLocaleString('en-AU', {hour12: false})}
                if c.updatedAt
                  time(datetime=`${c.updatedAt.toLocaleString('en-AU', {hour12: false})}`)
                    small
                      | Updated At:
                      | #{c.updatedAt.toLocaleString('en-AU', {hour12: false})}
