extends layouts/main.pug
include partials/_tableHeaderItem.pug
include partials/_tableCellItem.pug

block content 
  main#class
    // 1) CLASS INTRO
    section#class-header.bg-darkCyan.text-white
      .container.flex.flex-col.items-center.justify-center.mx-auto.pt-6.pb-10(class='lg:flex-row lg:space-x-8')
        // 1.1) image
        .basis-full(class='lg:basis-1/2')
          img.object-cover.rounded-lg.shadow-lg(src=`/images/classes/${course[0] && course[0].imageCover || 'default-class-cover.jpeg'}` alt=`${course[0] && course[0].className || ''}`)
        // 1.2) content
        .basis-full(class='lg:basis-1/2')
          h1.uppercase.text-lemonGreen #{course[0] && course[0].className || ''}
          h2.text-lg.text-lemonGreen #{course[0] && course[0].shortDesc || ''}
          p !{course[0] && course[0].longDesc || ''}
          a.btn.btn-limeGreen(href='#view-dates-and-book')
            span
              | View
              | Timetable And Book
            svg.size-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor')
              path(stroke-linecap='round' stroke-linejoin='round' d='m4.5 4.5 15 15m0 0V8.25m0 11.25H8.25')
    // 2) CLASS TIMETABLE
    //- optimise responsive table, refer to https://adrianroselli.com/2017/11/a-responsive-accessible-table.html
    section#view-dates-and-book
      .flex.flex-col.py-4.px-4.items-center.justify-center(class='lg:px-10')
        h3.uppercase #{course[0] && course[0].className || ''} Timetable
        table.w-full.table-auto.border-collapse.border.border-darkCyan.my-4
          caption.text-sm
            | #{timetables && timetables.length || 0} results
          thead.text-sm.text-white.bg-darkCyan
            tr
              +tableHeaderItem('Date')
              +tableHeaderItem('Weekday')
              +tableHeaderItem('Time')
              +tableHeaderItem('Class')
              +tableHeaderItem('Duration')
              +tableHeaderItem('Level')
              +tableHeaderItem('Trainer')
              +tableHeaderItem('Availability')
              +tableHeaderItem('Action')
          tbody
          - for(let s of timetables)
            tr
              +tableCellItem('date', s.startDateTime.toLocaleDateString('en-AU'))
              +tableCellItem('weekday', s.startDateTime.toLocaleDateString('en-AU', {weekday: 'short'}))
              +tableCellItem('time', s.startDateTime.toLocaleTimeString('en-AU', {timeStyle: 'short', hour12: false}))
              +tableCellItem('class', s.className)
              +tableCellItem('duration', s.duration)
              +tableCellItem('level', s.level)
              +tableCellItem('trainer', s.trainerFirstName)
              +tableCellItem('availability', s.availability)
              td.grid.grid-cols-2(class='before:content-[attr(data-cell)] before:uppercase before:font-semibold md:text-center md:table-cell md:before:content-none' data-cell='action')
                - const isDisabled = myBookingTimetableIds.includes(s.timetableId) || !s.availability ? true : false
                a.btn-bullet.btn-limeGreen.btn-sm(href=isDisabled ? null : `/auth/account/timetable/${s.timetableId}/bookingForm` class=isDisabled ? 'cursor-not-allowed text-gray-600 saturate-50 hover:no-underline': '')
                  | #{myBookingTimetableIds.includes(s.timetableId) ? 'Booked' : 'Book Now'}
