extends ../layouts/main.pug 
include ../partials/_userRoleVariable.pug
include ../partials/_fieldErrorMsg.pug

block variables
  +roleVariable()

block content 
  .page-wrapper
    // 1) HEADER
    header.bg-darkCyan.text-white
      .container.mx-auto.px-4.pt-3(class='md:px-0 md:py-4')
        h1 Create Article
    // 2) MAIN CCONTENT
    .wrapper.bg-slate-100
      .max-w-screen-xl.grid.grid-cols-1.gap-4.py-5.px-4.mx-auto(class='md:px-0 md:grid-cols-4 lg:mx-20')
        // 2) MAIN CONTENT
        main#create-article.col-span-1.order-2(class='md:col-span-3')
          //- ARTICLE FORM START
          form#form-create-article.grid.grid-cols-1.py-4.gap-y-4(class='md:grid-cols-6 md:gap-4' method='POST' action=`/auth/${role}/articleForm/save` enctype='multipart/form-data'  novalidate)
            input(type='hidden' name='articleId' value=(inputData.articleId))
            .space-y-1.col-span-1(class='md:col-span-6')
              label.block.text-sm.font-semibold.text-darkCyan(for='articleTitle') Title
              .relative.flex.items-center
                svg.absolute.size-6.left-3.text-gray-500
                  use(xlink:href='/icons/sprites/solid.svg#heading' fill='currentColor')
                input#articleTitle.pl-11(type='text' name='articleTitle' placeholder='Enter an article name' required='' value=(inputData && inputData.articleTitle || ''))
              +fieldErrorMsg('articleTitle')
            .space-y-1.col-span-1(class='md:col-span-3')
              label.block.text-sm.font-semibold.text-darkCyan(for='topic') Topic
              .relative.flex.items-center
                svg.size-6.absolute.left-3.text-gray-500
                  use(xlink:href='/icons/sprites/solid.svg#tag' fill='currentColor')
                select#topic.text-center(name='topic')
                  option(value='')
                    | ------Select a
                    | topic------
                  - for(let t of topics)
                    option(value=t.topicId selected=(inputData && inputData.topicId === t.topicId ? true : false)) #{t.topicName}
              +fieldErrorMsg('topic')
            .space-y-1.col-span-1(class='md:col-span-3')
              label.block.text-sm.font-semibold.text-darkCyan(for='visibility') Visibility
              .relative.flex.items-center
                svg.size-6.absolute.left-3.text-gray-500
                  use(xlink:href='/icons/sprites/regular.svg#eye' fill='currentColor')
                select#visibility.text-center(name='visibility')
                  - for(let v of visibilityOptions)
                    option(value=(v) selected=(inputData && inputData.visibility === v ? true : false)) #{v}
              +fieldErrorMsg('visibility')
            .space-y-1.col-span-1(class='md:col-span-6')
              label.block.text-sm.font-semibold.text-darkCyan(for='imageCover')
                | Cover
                | Image
              .relative.flex.items-center
                input#imageCover(type='file' name='imageCover' accept='.jpg, .jpeg, .png')
              .block.text-red-500 
                if uploadErr
                  small.block #{uploadErr}
            .space-y-1.col-span-1(class='md:col-span-6')
              label.block.text-sm.font-semibold.text-darkCyan(for='articleContent') Content
              input#articleContent(type="hidden", name="articleContent" value=(inputData && inputData.articleContent || ''))
              .h-96#articleEditor !{inputData && inputData.articleContent || ''}
              +fieldErrorMsg('articleContent')
              //- textarea#articleContent(name='articleContent' row='20' class='quill-editor') 
            .space-y-1.col-span-1(class='md:col-span-3')
              a.btn-bullet.btn-gray.my-5.space-x-1.w-full(href=`/auth/${role}/my-articles`) Back
            .space-y-1.col-span-1(class='md:col-span-3')
              button.btn-bullet.btn-limeGreen.my-5.space-x-1.w-full(type='submit')
                span Submit
        // 3) COVER IMAGE PREVIEW
        section.order-1
          img(src=`/images/blog/${inputData && inputData.imageCover ? inputData.imageCover : 'default-article-cover.jpg'}` alt=(inputData && inputData.articleTitle || 'article-cover') class='object-cover')

